<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>Project1</display-name>
  <welcome-file-list>
    <welcome-file>HomePage.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>Register</servlet-name>
    <servlet-class>Register</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Register</servlet-name>
    <url-pattern>/Register</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>LoginCheckServlet</servlet-name>
    <servlet-class>LoginCheckServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginCheckServlet</servlet-name>
    <url-pattern>/LoginCheckServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>welcome</servlet-name>
    <servlet-class>welcome</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>welcome</servlet-name>
    <url-pattern>/welcome</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>EmployeePermissionServlet</servlet-name>
    <servlet-class>EmployeePermissionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EmployeePermissionServlet</servlet-name>
    <url-pattern>/EmployeePermissionServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>viewpermissionServlet</servlet-name>
    <servlet-class>viewpermissionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>viewpermissionServlet</servlet-name>
    <url-pattern>/viewpermissionServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>LogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/LogoutServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>update1Servlet</servlet-name>
    <servlet-class>update1Servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>update1Servlet</servlet-name>
    <url-pattern>/update1Servlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>LeaderLoginCheckServlet</servlet-name>
    <servlet-class>LeaderLoginCheckServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LeaderLoginCheckServlet</servlet-name>
    <url-pattern>/LeaderLoginCheckServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>LeaderServlet</servlet-name>
    <servlet-class>LeaderServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LeaderServlet</servlet-name>
    <url-pattern>/LeaderServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Logout1Servlet</servlet-name>
    <servlet-class>Logout1Servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Logout1Servlet</servlet-name>
    <url-pattern>/Logout1Servlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Logout2Servlet</servlet-name>
    <servlet-class>Logout2Servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Logout2Servlet</servlet-name>
    <url-pattern>/Logout2Servlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AcceptServlet</servlet-name>
    <servlet-class>AcceptServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AcceptServlet</servlet-name>
    <url-pattern>/AcceptServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>RejectServlet</servlet-name>
    <servlet-class>RejectServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RejectServlet</servlet-name>
    <url-pattern>/RejectServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ManagerLoginCheckServlet</servlet-name>
    <servlet-class>ManagerLoginCheckServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ManagerLoginCheckServlet</servlet-name>
    <url-pattern>/ManagerLoginCheckServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ManagerServlet</servlet-name>
    <servlet-class>ManagerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ManagerServlet</servlet-name>
    <url-pattern>/ManagerServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ManageracceptServlet</servlet-name>
    <servlet-class>ManageracceptServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ManageracceptServlet</servlet-name>
    <url-pattern>/ManageracceptServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ManagerRejectServlet</servlet-name>
    <servlet-class>ManagerRejectServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ManagerRejectServlet</servlet-name>
    <url-pattern>/ManagerRejectServlet</url-pattern>
  </servlet-mapping>
</web-app>